*{
    color: black;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #eff3fa;
}
.header{
    height: 5%;
    background-color: #1497e0;
    /* background-image:linear-gradient(0,#1e8bcc,#0b57a8) ; */
    display: flex;
    align-items: center;
}
.header-left{
    width: 70%;
    display: flex;
    align-items: center;
   
}
.header-right{
    width: 30%;
    display: flex;
}
.btn{
    cursor: pointer;
    transition: 200ms;
    background-color: #1497e0;
    border-width: thin;
}
.btn:hover{
    background-color: #247dd7;
}
.btn-back{
    background-color: none;
    border: none;
    width: 300px;
}

.btn-search{
    border: none;
    
}

.label-table{
    width: 10%;
    margin-left: 5%;
}
.search-text{
    width: 30%;
    margin-left: 5%;
    background-color: #1497e0;
    border: none;
}
.search-text:focus{
    outline: none;
}
.time{
    padding: 0 10%;
}

.main{
    display: flex;
    flex-direction: column;
    height: 95%;
}

.main-top{
    display: flex;
    height: 70%;
}
.category{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.category-list{
    flex-direction: column;
    height: 100%;
    width: 300px;
    padding-top: 10px;
    overflow: auto;
    align-items: center;
}
.category-item{
    padding-left: 10%;
    display: flex;
    /* display: block; */
    height: 10%;
    align-items: center;
    /* border-bottom:solid 1px #090e17; */
    border-radius: 5px;
    /* text-align: center; */
}
li:nth-child(odd){
    background-color: black;
}
.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 10px 10px; */
    overflow: auto;
    /* padding: 20px 10px 0 10px; */
    width: 50%;
    height: 100%;
    
}
.product{
    /* border: 1px solid ; */
    margin: 20px 10px 0px 10px;
    height: 170px;
    border-radius: 10px;
    /* border: none; */
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    background-color: #fefefe;
    
}
.product-img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cart{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.cart-header{
    height: 30px;
    display: flex;
}
.cart-main{
    height: 90%;
    
}
.cart-bottom{
    display: flex;
    height: 50px;
}
.cart p{
    text-align: center;width: 50%;
}
.product-order{
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
}

.main-bottom{
    display: flex;
    height: 30%;
    border: 1px solid black;
    position: relative;
}

.main-bottom .note{
    display: flex;

    width: 70%;
}
.note-text{
    width: 70%;
    margin: 20px;
}
.main-bottom .payment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 30%;
}
.pay{
    grid-row-start:3 ;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}
