* {
    color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #eff3fa;
}
.btn{
    cursor: pointer;
    transition: 200ms;
    background-color: #1497e0;
    border-width: thin;
}
.btn:hover{
    background-color: #247dd7;
}
/* ----------------header------------- */
.header {
    position: relative;
    height: 5%;
    background-color: #1497e0;
    display: flex;
    align-items: center;
}

.btn-back {
    background-color: #1497e0;
    border: none;
    width: 20%;
    height: 100%;
}

.number-table{
    width: 10%;
}
.search-text{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 70%;
    width: 30%;
    background-color: #3ab2f2;
    border: none;
}
.btn-search{
    cursor: pointer;    
    border: none;
    background-color: #3ab2f2;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    width: 5%;
    height: 70%;
}

.date{
    padding: 0 1% 0 0;
    position: absolute;
    right: 5%;
}

.time{
    padding: 0 1% 0 0;
    position: absolute;
    right: 0%;
}

/* ----------------main------------- */
.main{
    display: flex;
    flex-direction: column;
    height: 95%;
}
/* ----------------main-top------------- */
.main-top{
    display: flex;
    height: 70%;
    padding-top: 10px;
}

.category-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    overflow: auto;
    align-items: center;
}

.category-item{
    display: block;
    margin: 2%;
    height: 10%;
    width: 90% ;
    align-items: center;
    border:solid 1px #eff3fa;
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    text-align: center;
}

.product-list{
    display: flex;
    overflow: auto;
    width: 50%;
    height: 100%;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    border-radius: 10px;
    display: block;
    width: 20%;
    height: fit-content;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    background-color: #fefefe;
    
}

.product-img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cart{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.cart-header{
    padding-top: 10px;
    height: 30px;
    display: flex;
}
.cart-main{
    height: 90%;
    
}
.cart-main .product-order{
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
}
.cart-bottom{
    display: flex;
    height: 50px;
}
.cart p{
    text-align: center;width: 50%;
}

/* ----------------main-bottom------------- */

.main-bottom{
    display: flex;
    height: 30%;
    border: 1px solid black;
    position: relative;
}

.main-bottom .note{
    display: flex;
    width: 70%;
}
.note-text{
    border-radius: 5px;
    width: 50%;
    padding-top: 1%;
    text-indent: 1%;
    margin: 1%;
}
.main-bottom .payment{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 30%;
}
.pay{
    grid-row-start:3 ;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}





